<h1 class="display-3">¡Bienvenido a la seccion de equipos!</h1>
<h5>Desde acá podras agregar, editar o eliminar equipos de tu lista</h3>

<div class="container">

    <form action="/api/equipos" method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="col">
                <input required type="text" type="text" name="nombre" id="nombre" class="form-control formulario"
                    placeholder="Nombre equipo...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-control formulario" name="pais" id="pais">
                    <option>Inglaterra</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input required type="file" name="imagen" id="imagen" class="formulario">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary formulario ">Enviar</button>
            </div>
        </div>



        <div class="row justify-content-center text-center">


        </div>
    </form>

</div>

{{#if data.mensaje}}
<p>{{data.mensaje}}</p>

<img src="/imagenes/{{data.nombreArchivo}}" />
{{/if}}
<!-- enctype="multipart/form-data" es lo que nos permite subir un archivo al servidor -->



{{#if data.equipos}}

<hr>

<h5 class="lista">Lista Equipos</h5>

<ul id="lista-equipos">

    {{#each data.equipos as |item|}}

    <div class="row text-center equipo {{nombre}}">
        <div class="col">
            <img src="{{imagen}}" alt="">
        </div>
        <div class="col">
            <h1 class="display-5"><strong>Nombre:</strong> {{nombre}} <strong>País:</strong>{{pais}}</h1>
        </div>

        <div class="col7">
            <button type="button" class="btn btn-outline-warning visibilidad" id="boton-editar-{{nombre}}"
                data-nombre="{{nombre}}">Editar</button>

            <span id="seccion-editar-{{nombre}}" data-nombre="{{nombre}}" class="oculto">
                <input id="input-editar-{{nombre}}" type="text"> <button id="enviar-edicion-{{nombre}}"
                    class="btn btn-primary enviar-edicion">Enviar</button>
            </span>

        </div>
        <div class="col align-middle">

            <button type="submit" class="btn btn-outline-danger eliminar" data-nombre="{{nombre}}">Eliminar</button>


        </div>
    </div>


    {{/each}}

</ul>


{{else}}
<h5>No hay equipos en la lista, podés agregar equipos a través del formulario en la parte superior</h5>

{{/if}}